.flag {
    position: absolute;
    top: 0;
    font-family: 'tradegothic';
    text-transform: uppercase;

    padding: 17px 25px 15px 25px;
    font-size: 24px;
    line-height: 0.9em;
        
    &.flag-left {
        left:0;
        text-align: left;
        &.has-detail{
            .flag-content {
                left: 0;
            }
        }
    }
    
    &.flag-right {
        right:0;
        text-align: right;
        &.has-detail{
            .flag-content {
                right: 0;
            }
        }
    }
    
    &.flag-bottom {
        bottom:0;
        top:auto;
    }
    
    &.flag-yellow {
        background-color: $yellow;
        color: #000;
    }
    
    &.flag-black {
        background-color: #000;
        color: #fff;
    }
    
    &.flag-white {
        background-color: #fff;
        color: #000;
    }
    
    &.flag-green {
        background-color: $deepGreen;
        color: #fff;
    }
    
    &.flag-blue {
        background-color: $blue;
        color: #fff;
    }
    
    &.flag-sm {
        padding: 12px 15px 10px 15px;
        font-size: 18px;
    }
    
    &.flag-xs {
        padding: 9px 15px 8px 15px;
        font-size: 15px;
    }
    
    &.has-detail {
        cursor: pointer;
        background: none; 
        padding:0;
        width:60%;
        
        .flag-content {
            padding: 17px 25px 15px 25px;
            position: absolute;
            top:0;
        }
        
        .hover-detail {
            position: absolute;
            top:38px;
            
            padding:15px 25px;   
             
            font-family: "montserrat", sans-serif;
            font-size:11px;
            
            display: none;
        }
 
        &:hover {
            .hover-detail {
                display: block;
            }
        }
        
        &.flag-sm {
            .flag-content {
                padding: 12px 15px 10px 15px;
            }
            
            .hover-detail {
                top:30px;
            }
        }
        
        &.flag-xs .hover-detail {
            top:40px;
        }
        
        &.flag-yellow .hover-detail, &.flag-yellow .flag-content {
            background-color: $yellow;
            color: #000;
        }
        
        &.flag-black .hover-detail, &.flag-black .flag-content {
            background-color: #000;
            color: #fff;
        }
        
        &.flag-white .hover-detail, &.flag-white .flag-content {
            background-color: #fff;
            color: #000;
        }
        
        &.flag-green .hover-detail, &.flag-green .flag-content {
            background-color: $deepGreen;
            color: #fff;
        }
        
        &.flag-blue .hover-detail, &.flag-blue .flag-content {
            background-color: $blue;
            color: #fff;
        }
    }
}