.tooltip {
  display: inline-block;
  width:auto;
  height:auto;
  
  position: relative;
  padding:10px 25px;
  font-size: 14px;
  
  margin:6px 10px;

  &.tooltip-yellow, &.tooltip-black {
  	
    &:after {
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-color: rgba(255, 242, 0, 0);
    	border-width: 8px;
    }
    
    &.tooltip-top, &.tooltip-bottom {
      &:after {
      	left: 50%;
      	margin-left: -8px;
      }
    }
    
    &.tooltip-top:after {
    	bottom: 100%;
    }
    
    &.tooltip-bottom:after {
    	top: 100%;
    }
    
    &.tooltip-left, &.tooltip-right {
      &:after {
      	top: 50%;
      	margin-top: -8px;
      }
    }
    
    &.tooltip-left:after {
    	right: 100%;
    }
    
    &.tooltip-right:after {
    	left: 100%;
    }
    
    &.tooltip-yellow {
      color:$black;
      background-color:$yellow;
      
      &.tooltip-top:after {
        border-bottom-color: $yellow;
      }
      &.tooltip-bottom:after {
      	border-top-color: $yellow;
      }
      &.tooltip-left:after {
      	border-right-color: $yellow;
      }
      &.tooltip-right:after {
      	border-left-color: $yellow;
      }
    }
    
    &.tooltip-black {
      color:$white;
      background-color:$black;
      
      &.tooltip-top:after {
        border-bottom-color: $black;
      }
      &.tooltip-bottom:after {
      	border-top-color: $black;
      }
      &.tooltip-left:after {
      	border-right-color: $black;
      }
      &.tooltip-right:after {
      	border-left-color: $black;
      }
    }
  }
  
  &.tooltip-clear {
    padding:8px 23px;
  
  	background: #fff;
  	border: 2px solid #000000;
    	
    &.tooltip-top {
      &:after, &:before {
      	bottom: 100%;
      	left: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      }
      
      &:after {
      	border-color: rgba(255, 255, 255, 0);
      	border-bottom-color: #fff;
      	border-width: 8px;
      	margin-left: -8px;
      }
      &:before {
      	border-color: rgba(0, 0, 0, 0);
      	border-bottom-color: #000000;
      	border-width: 11px;
      	margin-left: -11px;
      }
    }
    
    &.tooltip-bottom {
    	&:after, &:before {
      	top: 100%;
      	left: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      }
      
      &:after {
      	border-color: rgba(255, 255, 255, 0);
      	border-top-color: #fff;
      	border-width: 8px;
      	margin-left: -8px;
      }
      &:before {
      	border-color: rgba(0, 0, 0, 0);
      	border-top-color: #000000;
      	border-width: 11px;
      	margin-left: -11px;
      }
    }
    
    &.tooltip-left {
      &:after, &:before {
      	right: 100%;
      	top: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      }
      
      &:after {
      	border-color: rgba(255, 255, 255, 0);
      	border-right-color: #fff;
      	border-width: 8px;
      	margin-top: -8px;
      }
      &:before {
      	border-color: rgba(0, 0, 0, 0);
      	border-right-color: #000000;
      	border-width: 11px;
      	margin-top: -11px;
      }
    }
    
    &.tooltip-right {
      &:after, &:before {
      	left: 100%;
      	top: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
      }
      
      &:after {
      	border-color: rgba(255, 255, 255, 0);
      	border-left-color: #fff;
      	border-width: 8px;
      	margin-top: -8px;
      }
      &:before {
      	border-color: rgba(0, 0, 0, 0);
      	border-left-color: #000000;
      	border-width: 11px;
      	margin-top: -11px;
      }
    }
  }
}


