@font-face {
    font-family: 'tradegothic';
    src: url('../webfont/tradegothic/TradeGothicLTPro-BdCn20.woff2') format('woff2'),
         url('../webfont/tradegothic/TradeGothicLTPro-BdCn20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}