$yellow: #fff200;
$deepGreen: #4c6c6f;
$black: #000;
$white: #fff;
$lightGray: #c7c7c7;
$softGray: #bcbcbd;
$darkGray: #202020;
$gray: #58585a;

$charcoal:#252525;

$red: #d14339;
$pink: #c8265d;
$purple: #8a2d9a;
$blue: #2886d0;
$green: #4A9A4E;
$orange: #d85914;

$softYellow: #fff444;
$darkYellow: #f0e206;
$softBlack: #5e5e5e;

// *** BUTTONS ***

//btn-primary
$btn-primary-text: $black;
$btn-primary-text-hover: $black;
$btn-primary-text-active: $black;
$btn-primary-bg: $yellow;
$btn-primary-bg-hover: $softYellow;
$btn-primary-bg-active: $darkYellow;
$btn-primary-border: $yellow;
$btn-primary-border-hover: $softYellow;
$btn-primary-border-active: $darkYellow;

//btn-clear
$btn-clear-text: $black;
$btn-clear-text-hover: $black;
$btn-clear-text-active: $black;
$btn-clear-bg: $white;
$btn-clear-bg-hover: $white;
$btn-clear-bg-active: $white;
$btn-clear-border: $gray;
$btn-clear-border-hover: $softGray;
$btn-clear-border-active: $black;

//btn-black
$btn-black-text: $white;
$btn-black-text-hover: $white;
$btn-black-text-active: $white;
$btn-black-bg: $black;
$btn-black-bg-hover: $gray;
$btn-black-bg-active: $softGray;
$btn-black-border: $black;
$btn-black-border-hover: $gray;
$btn-black-border-active: $softGray;
